body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
header {
    background-color: #f0f0f0;
    padding: 20px 0;
}
h1 {
    color: #333;
}
p {
    color: #666;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3;
}
form {
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling form inputs */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
}

footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around content */
    text-align: center; /* Center-align text */
    left: 0; /* Align left */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
}

.footer-bottom {
    font-size: 14px; /* Font size */
}